In [127]:
import pandas as pd
import numpy as np
import matplotlib 
%matplotlib inline

In [128]:
data = pd.read_csv("./flights_tickets_serp2018-12-16.csv") 
data.head(2)

,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,formattedUrl,...,count,startIndex,inputEncoding,outputEncoding,safe,cx,gl,searchTime,formattedSearchTime,formattedTotalResults
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $397 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,https://www.kayak.com/flight-routes/United-Sta...,2018-12-16 11:26:30.485612+00:00,106000000,W42baDpas_gJ,https://www.kayak.com/flight-routes/United.../...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"
1,flights to hong kong,2,"$480 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,https://www.tripadvisor.com/Flights-g294217-Ho...,2018-12-16 11:26:30.485612+00:00,106000000,5jsjhmxgxvkJ,https://www.tripadvisor.com/Flights-g294217-Ho...,...,10,1,utf8,utf8,off,012859022920491477448:pubdbfjmmec,us,0.162895,0.16,"106,000,000"

In [129]:
data.drop(['cacheId','link','htmlFormattedUrl','kind','count','startIndex','pagemap','formattedSearchTime','formattedTotalResults','gl','formattedUrl','inputEncoding','safe','cx','outputEncoding','htmlSnippet','htmlTitle', 'cseName'], axis=1, inplace=True)
data.head(2)

,searchTerms,rank,title,snippet,displayLink,queryTime,totalResults,searchTime
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $397 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
1,flights to hong kong,2,"$480 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895

In [130]:
data.shape

(4000, 8)

In [131]:
data.head(3)

,searchTerms,rank,title,snippet,displayLink,queryTime,totalResults,searchTime
0,flights to hong kong,1,Cheap Flights to Hong Kong (HKG) from $397 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
1,flights to hong kong,2,"$480 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
2,flights to hong kong,3,Cheap Flights to Hong Kong International from ...,Search cheap flights using Skyscanner's free f...,www.skyscanner.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895

In [132]:
#differents links (PAges) where people buy tickets

pages = data['displayLink'].unique()
len(pages)

271

In [133]:
print(pages)

['www.kayak.com' 'www.tripadvisor.com' 'www.skyscanner.com'
 'flights.cathaypacific.com' 'www.expedia.com' 'www.cheapflights.com'
 'www.orbitz.com' 'www.hongkongairport.com' 'www.hongkongairlines.com'
 'www.momondo.com' 'www.cheapoair.com' 'flights.united.com'
 'www.delta.com' 'www.emirates.com' 'www.skyscanner.net'
 'www.icelandair.com' 'www.edreams.com' 'www.travelstart.co.za'
 'www.singaporeair.com' 'www.skyscanner.com.my' 'www.webjet.com.au'
 'www.skyscanner.com.sg' 'www.expedia.com.sg' 'www.skyscanner.com.au'
 'www.skyscanner.com.ph' 'www.makemytrip.com' 'www.expedia.ca'
 'www.farecompare.com' 'flights.jetairways.com' 'www.airfrance.us'
 'us.jetcost.com' 'www.travelocity.com' 'www.priceline.com'
 'www.cheaptickets.com' 'www.jetblue.com' 'www.tripadvisor.in'
 'www.kayak.co.uk' 'www.cheapflights.co.uk' 'www.flightcentre.com.au'
 'www.britishairways.com' 'www.vayama.com' 'www.lufthansa.com'
 'www.cheapflights.com.au' 'www.qantas.com' 'flightstorome.moovellab.com'
 'www.guangzhouairportonline.com' 'www.cheapflights.co.za'
 'www.ticketstoindia.co.uk' 'www.tripadvisor.co.za' 'www.expedia.co.uk'
 'www.ebookers.com' 'www.tripadvisor.co.uk' 'www.tajawal.com'
 'www.turkishairlines.com' 'www.prg.aero' 'www.easyjet.com'
 'www.skyscanner.co.il' 'www.hotwire.com' 'wowair.us' 'wizzair.com'
 'www.expedia.com.my' 'www.milanomalpensa-airport.com'
 'flights.volaris.com' 'www.interjet.com' 'www.spirit.com'
 'www.skyscanner.co.in' 'www.jetcost.co.uk' 'www.mapsofagra.com'
 'www.goibibo.com' 'www.cleartrip.com' 'www.forbes.com' 'www.vegas.com'
 'www.ryanair.com' 'www.thomascookairlines.com' 'www.opodo.co.uk'
 'www.lastminute.com' 'www.baliairport.com' 'www.jetstar.com'
 'www.eurowings.com' 'www.aeropuertomadrid-barajas.com'
 'www.senaiairport.com' 'www.airasia.com' 'www.flysaa.com'
 'www.hochiminhcityairport.com' 'www.cheapflights.com.sg'
 'en.wikipedia.org' 'www.jaipurairport.com' 'flights.ryanair.com'
 'www.dublinairport.com' 'www.cheapflights.ca' 'www.aeroporto.firenze.it'
 'www.klm.com' 'www.hanoiairportonline.com' 'www.expedia.com.au'
 'www.expedia.co.jp' 'www.seaplanes.vn' 'www.tripadvisor.com.sg'
 'www.sydneyairport.com.au' 'flights.virginaustralia.com' 'www.flysfo.com'
 'www.munich-airport.com' 'www.travelsupermarket.com' 'flights.flytap.com'
 'www.heraklion-airport.info' 'www.asaptickets.com' 'www.flysas.com'
 'www.hipmunk.com' 'pnh.cambodia-airports.aero' 'www.qatarairways.com'
 'dohahamadairport.com' 'www.tripadvisor.ie' 'www.elal.com' 'www.lot.com'
 'www.melbourneairport.com.au' 'www.skyscanner.co.nz' 'm.iberia.com'
 'www.jetcost.ie' 'www.ca.kayak.com' 'www.airnewzealand.co.nz'
 'www.aucklandairport.co.nz' 'www.webjet.co.nz' 'www.airnewzealand.com.au'
 'www.airnewzealand.co.uk' 'www.wingie.com' 'www.tripadvisor.ca'
 'en.tripadvisor.com.hk' 'www.travelchinaguide.com' 'www.trip.com'
 'www.brusselsairlines.com' 'www.frankfurt-airport.com'
 'www.norwegian.com' 'www.jejuair.net' 'www.airport.co.kr'
 'flights.aeromexico.com' 'rep.cambodia-airports.aero' 'www.latam.com'
 'www.onetravel.com' 'www.rho-airport.gr' 'flights.aegeanair.com'
 'flights.etihad.com' 'www.abudhabiairport.ae' 'www.hkexpress.com'
 'www.studentuniverse.com' 'en.nice.aeroport.fr' 'www.cathaypacific.com'
 'www.hongkongdisneyland.com' 'www.thaiticketmajor.com'
 'www.turbojet.com.hk' 'www.cotaiwaterjet.com' 'www.klook.com'
 'www.directferries.com' 'www.nycitycenter.org' 'www.cheaptickets.sg'
 'www.yatra.com' 'in.bookmyshow.com' 'www.govoyagin.com'
 'flights.alitalia.com' 'english.metro.taipei' 'www.expedia.co.in'
 'www.smartticket.cn' 'www.247tickets.com' 'www.timeoutshanghai.com'
 'www.kaiyukan.com' 'www.osakastation.com' 'www.howto-osaka.com'
 'www.goeuro.com' 'www.easybook.com' 'www.ktmtrain.com'
 'www.busonlineticket.com' 'proticket.com.my' 'www.athenstransport.com'
 'www.visitflorence.com' 'ca.jetcost.com' 'www.timeoutbeijing.com'
 'theatrebeijing.com' 'www.getyourguide.com' 'www.expedia.co.nz' 'bkk.hu'
 'www.zoobudapest.com' 'www.visitlisboa.com' 'www.cksp.com.hk'
 'www.travel-penang-malaysia.com' 'langkawi-ferry.com'
 'www.myhoponhopoff.com' 'www.skyscanner.ae' 'tokyocheapo.com'
 'www.tickettokyoto.eu' 'www.kyotostation.com' 'www.q-tickets.com'
 'www.traveloka.com' 'www.busbud.com' 'www.songkick.com'
 'www.checkmybus.co.uk' 'www.itraveljerusalem.com' 'www.stpete.org'
 'www.gpstpete.com' 'russianbroadway.com' 'www.marrakechtickets.co.uk'
 'www.cheapflights.co.nz' 'www.eventbrite.com' 'www.mpk.krakow.pl'
 'www.wawel.krakow.pl' 'www.stib-mivb.be' 'www.vgf-ffm.de'
 'www.ticketmaster.de' 'www.cheaptickets.nl' 'www.siemreap.net'
 'www.visit-angkor.org' 'pharecircus.org' 'www.rio-carnival.net'
 'travel.viva.gr' 'www.bigticket.ae' 'www.ticketmaster.ae'
 'www.thsrc.com.tw' 'www.stubhub.com' 'www.nytimes.com' 'www.ogcnice.com'
 'www.dealchecker.co.uk' 'www.statravel.co.uk' 'www.dialaflight.com'
 'www.flybe.com' 'www.expedia.ie' 'www.edreams.co.uk' 'www.condor.com'
 'www.exeter-airport.co.uk' 'www.bravofly.com' 'www.flightcentre.co.uk'
 'www.travelrepublic.co.uk' 'www.tui.co.uk' 'www.canadianaffair.com'
 'www.travelbag.co.uk' 'www.dailymail.co.uk' 'www.fly4free.com'
 'www.justtheflight.co.uk' 'www.momondo.co.uk' 'www.flightradar24.com'
 'www.liverpoolairport.com' 'www.krakowairport.pl' 'www.jet2.com'
 'www.thetrainline.com' 'www.virgintrains.co.uk' 'www.southernrailway.com'
 'www.nationalexpress.com' 'www.greateranglia.co.uk' 'www.gwr.com'
 'www.redspottedhanky.com' 'www.kkday.com' 'www.directferries.co.uk'
 'www.eurostar.com' 'www.tokyoworld.org' 'www.meccabingo.com'
 'www.skiddle.com' 'www.austrian.com' 'www.kayak.sg'
 'www.traveltrolley.co.uk' 'www.southalltravel.co.uk' 'edition.cnn.com'
 'www.watermill.org.uk' 'www.seat61.com' 'www.imdb.com'
 'www.fiaformulae.com' 'www.transavia.com' 'info.fiaformulae.com'
 'discovercracow.com' 'www.brussels.info' 'www.carltonleisure.com'
 'tickets.2018floraexpo.com' 'www.narita-airport.jp'
 'www.limousinebus.co.jp' 'billetterie.ogcnice.com' 'www.viagogo.co.uk']

In [134]:
searchterms = data['searchTerms'].unique()
len(pages)

271

In [135]:
searchterms

array(['flights to hong kong', 'flights to bangkok', 'flights to london',
       'flights to singapore', 'flights to macau', 'flights to dubai',
       'flights to paris', 'flights to new york city',
       'flights to shenzhen', 'flights to kuala lumpur',
       'flights to phuket', 'flights to delhi', 'flights to tokyo',
       'flights to rome', 'flights to taipei', 'flights to guangzhou',
       'flights to mumbai', 'flights to mecca', 'flights to istanbul',
       'flights to prague', 'flights to miami', 'flights to seoul',
       'flights to barcelona', 'flights to pattaya',
       'flights to shanghai', 'flights to milan', 'flights to cancÃºn',
       'flights to agra', 'flights to las vegas', 'flights to amsterdam',
       'flights to antalya', 'flights to denpasar', 'flights to osaka',
       'flights to los angeles', 'flights to vienna', 'flights to berlin',
       'flights to madrid', 'flights to johor bahru',
       'flights to johannesburg', 'flights to riyadh',
       'flights to ho chi minh city', 'flights to venice',
       'flights to orlando', 'flights to chennai', 'flights to jaipur',
       'flights to athens', 'flights to dublin', 'flights to florence',
       'flights to moscow', 'flights to toronto', 'flights to hanoi',
       'flights to beijing', 'flights to ha long', 'flights to sydney',
       'flights to budapest', 'flights to punta cana',
       'flights to san francisco', 'flights to jakarta',
       'flights to dammam', 'flights to munich', 'flights to lisbon',
       'flights to zhuhai', 'flights to heraklion',
       'flights to penang island', 'flights to cairo',
       'flights to copenhagen', 'flights to kyoto',
       'flights to phnom penh', 'flights to doha',
       'flights to chiang mai', 'flights to edirne',
       'flights to jerusalem', 'flights to saint petersburg',
       'flights to warsaw', 'flights to melbourne',
       'flights to marrakesh', 'flights to vancouver',
       'flights to auckland', 'flights to tel aviv',
       'flights to honolulu', 'flights to artvin', 'flights to kolkata',
       'flights to krakÃ³w', 'flights to guilin', 'flights to brussels',
       'flights to frankfurt am main', 'flights to stockholm',
       'flights to jeju', 'flights to mexico city',
       'flights to siem reap', 'flights to lima',
       'flights to rio de janeiro', 'flights to rhodes',
       'flights to buenos aires', 'flights to colombo',
       'flights to abu dhabi', 'flights to taichung',
       'flights to washington d.c.', 'flights to chiba',
       'flights to nice', 'tickets to hong kong', 'tickets to bangkok',
       'tickets to london', 'tickets to singapore', 'tickets to macau',
       'tickets to dubai', 'tickets to paris', 'tickets to new york city',
       'tickets to shenzhen', 'tickets to kuala lumpur',
       'tickets to phuket', 'tickets to delhi', 'tickets to tokyo',
       'tickets to rome', 'tickets to taipei', 'tickets to guangzhou',
       'tickets to mumbai', 'tickets to mecca', 'tickets to istanbul',
       'tickets to prague', 'tickets to miami', 'tickets to seoul',
       'tickets to barcelona', 'tickets to pattaya',
       'tickets to shanghai', 'tickets to milan', 'tickets to cancÃºn',
       'tickets to agra', 'tickets to las vegas', 'tickets to amsterdam',
       'tickets to antalya', 'tickets to denpasar', 'tickets to osaka',
       'tickets to los angeles', 'tickets to vienna', 'tickets to berlin',
       'tickets to madrid', 'tickets to johor bahru',
       'tickets to johannesburg', 'tickets to riyadh',
       'tickets to ho chi minh city', 'tickets to venice',
       'tickets to orlando', 'tickets to chennai', 'tickets to jaipur',
       'tickets to athens', 'tickets to dublin', 'tickets to florence',
       'tickets to moscow', 'tickets to toronto', 'tickets to hanoi',
       'tickets to beijing', 'tickets to ha long', 'tickets to sydney',
       'tickets to budapest', 'tickets to punta cana',
       'tickets to san francisco', 'tickets to jakarta',
       'tickets to dammam', 'tickets to munich', 'tickets to lisbon',
       'tickets to zhuhai', 'tickets to heraklion',
       'tickets to penang island', 'tickets to cairo',
       'tickets to copenhagen', 'tickets to kyoto',
       'tickets to phnom penh', 'tickets to doha',
       'tickets to chiang mai', 'tickets to edirne',
       'tickets to jerusalem', 'tickets to saint petersburg',
       'tickets to warsaw', 'tickets to melbourne',
       'tickets to marrakesh', 'tickets to vancouver',
       'tickets to auckland', 'tickets to tel aviv',
       'tickets to honolulu', 'tickets to artvin', 'tickets to kolkata',
       'tickets to krakÃ³w', 'tickets to guilin', 'tickets to brussels',
       'tickets to frankfurt am main', 'tickets to stockholm',
       'tickets to jeju', 'tickets to mexico city',
       'tickets to siem reap', 'tickets to lima',
       'tickets to rio de janeiro', 'tickets to rhodes',
       'tickets to buenos aires', 'tickets to colombo',
       'tickets to abu dhabi', 'tickets to taichung',
       'tickets to washington d.c.', 'tickets to chiba',
       'tickets to nice'], dtype=object)

In [136]:
split = data['searchTerms'].str.split("flights to", expand = True)
#split[1]
split1 = split[0].str.split("tickets to", expand = True)
#split1[1]

In [137]:
#destinies = pd.concat([split[1], split1[1]], axis=1, sort=False)
destinies = split[0] + split[1]
destinies

0        hong kong
1        hong kong
2        hong kong
3        hong kong
4        hong kong
5        hong kong
6        hong kong
7        hong kong
8        hong kong
9        hong kong
10         bangkok
11         bangkok
12         bangkok
13         bangkok
14         bangkok
15         bangkok
16         bangkok
17         bangkok
18         bangkok
19         bangkok
20          london
21          london
22          london
23          london
24          london
25          london
26          london
27          london
28          london
29          london
           ...
3970           NaN
3971           NaN
3972           NaN
3973           NaN
3974           NaN
3975           NaN
3976           NaN
3977           NaN
3978           NaN
3979           NaN
3980           NaN
3981           NaN
3982           NaN
3983           NaN
3984           NaN
3985           NaN
3986           NaN
3987           NaN
3988           NaN
3989           NaN
3990           NaN
3991           NaN
3992           NaN
3993           NaN
3994           NaN
3995           NaN
3996           NaN
3997           NaN
3998           NaN
3999           NaN
Length: 4000, dtype: object

In [138]:
data['searchTerms'] = destinies
data.head()

,searchTerms,rank,title,snippet,displayLink,queryTime,totalResults,searchTime
0,hong kong,1,Cheap Flights to Hong Kong (HKG) from $397 - K...,"Find flights to Hong Kong on XiamenAir, Hong K...",www.kayak.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
1,hong kong,2,"$480 Flights to Hong Kong, China (HKG) - TripA...",Cheap Flights to Hong Kong: Enter your dates o...,www.tripadvisor.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
2,hong kong,3,Cheap Flights to Hong Kong International from ...,Search cheap flights using Skyscanner's free f...,www.skyscanner.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
3,hong kong,4,Flights to Hong Kong (HKG) | Hong Kong Flight ...,Find & book great deals on Hong Kong (HKG) Fli...,flights.cathaypacific.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895
4,hong kong,5,"Cheap Flights to Hong Kong SAR, Asia $393.97 i...",Expedia Add-On Advantage: Book a flight & unlo...,www.expedia.com,2018-12-16 11:26:30.485612+00:00,106000000,0.162895

In [126]:
#data['searchTerms'] = data["searchTerms"].str.split(["flights to", "tickets to"], expand = True) 
#data['searchTerms'] = data["searchTerms"].str.split("flights to", expand = True) 
#data

In [139]:
destinies = data['searchTerms'].unique()
len(destinies)

101

In [154]:
pd.pivot_table(columns = 'searchTerms', data = data)

searchTerms,abu dhabi,agra,amsterdam,antalya,artvin,athens,auckland,bangkok,barcelona,beijing,...,taipei,tel aviv,tokyo,toronto,vancouver,venice,vienna,warsaw,washington d.c.,zhuhai
rank,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,...,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00,5.500000e+00
searchTime,3.429195e-01,3.054265e-01,2.368745e-01,4.198430e-01,0.517222,3.563525e-01,3.376215e-01,1.901195e-01,2.964700e-01,2.884530e-01,...,2.988015e-01,3.571320e-01,2.817855e-01,3.138580e-01,3.002815e-01,3.267000e-01,3.012235e-01,3.401275e-01,3.620055e-01,2.574465e-01
totalResults,2.135000e+07,1.715000e+07,8.020000e+07,6.315000e+06,108000.000000,3.410000e+07,2.630000e+07,5.805000e+07,9.245000e+07,5.650000e+07,...,1.355000e+07,9.640000e+06,6.595000e+07,8.105000e+07,4.475000e+07,3.505000e+07,3.520000e+07,9.405000e+06,1.255000e+08,2.565000e+06