In [1]:
import numpy as np

import pandas as pd
data = pd.read_csv('GSAF5.csv', encoding = "ISO-8859-1", delimiter = ',')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [2]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [3]:
data.shape

(5992, 24)

In [20]:
data.drop(columns=["Unnamed: 22"], axis=1, inplace=True)
data = data.drop(columns=["Unnamed: 23"], axis=1)
data.shape

(5992, 22)

In [27]:
drop_cols = list(null_cols[null_cols > 10000].index)
data = data.drop(drop_cols, axis=1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [6]:
data.loc[:, 'Activity']
data['Activity'].value_counts()

Surfing                                                                                                                                                                            904
Swimming                                                                                                                                                                           819
Fishing                                                                                                                                                                            414
Spearfishing                                                                                                                                                                       321
Bathing                                                                                                                                                                            153
Wading                                                                                                                                                                             144
Diving                                                                                                                                                                             123
Standing                                                                                                                                                                            97
Snorkeling                                                                                                                                                                          77
Scuba diving                                                                                                                                                                        74
Body boarding                                                                                                                                                                       54
Body surfing                                                                                                                                                                        48
Swimming                                                                                                                                                                            47
Treading water                                                                                                                                                                      32
Pearl diving                                                                                                                                                                        32
Boogie boarding                                                                                                                                                                     28
Kayaking                                                                                                                                                                            28
Free diving                                                                                                                                                                         26
Fell overboard                                                                                                                                                                      21
Windsurfing                                                                                                                                                                         18
Boogie Boarding                                                                                                                                                                     16
Shark fishing                                                                                                                                                                       15
Walking                                                                                                                                                                             15
Rowing                                                                                                                                                                              12
Surf-skiing                                                                                                                                                                         12
Canoeing                                                                                                                                                                            12
Fishing                                                                                                                                                                             12
Floating                                                                                                                                                                            12
Surf skiing                                                                                                                                                                         12
Fishing for sharks                                                                                                                                                                  11
                                                                                                                                                                                  ...
Fishing, holding fish in his left hand                                                                                                                                               1
His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation        1
Dived overboard to retrieve dinghy                                                                                                                                                   1
Chasing shark out of bathing area while riding on a surf-ski                                                                                                                         1
Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134                                                                           1
Murdered by Thai pirates                                                                                                                                                             1
Diving, feeding sharks                                                                                                                                                               1
Hunting seals                                                                                                                                                                        1
Swimming / treading water                                                                                                                                                            1
Inebriated, woke from sleep and fell off deck into the water                                                                                                                         1
Scuba diving (submerged riding a scooter)                                                                                                                                            1
SUP Foil boarding                                                                                                                                                                    1
Crossing the river mouth                                                                                                                                                             1
Bathing in 5' of water                                                                                                                                                               1
Dropping anchor                                                                                                                                                                      1
Fell from cliff while fishing & disappeared in strong current                                                                                                                        1
Conch diver                                                                                                                                                                          1
Free diving or wading back to shore                                                                                                                                                  1
Diving, but on the surface when bitten by the shark                                                                                                                                  1
Floating on raft                                                                                                                                                                     1
Spearfishing / scuba diving                                                                                                                                                          1
Preparing to fish for jack-mackerel                                                                                                                                                  1
Wading in school of baitfish                                                                                                                                                         1
Longline fishing for sharks                                                                                                                                                          1
The passenger ship Kapuna was run down the ore carrier Ada Melmore                                                                                                                   1
Fell overboard?                                                                                                                                                                      1
On life raft tethered to lifeboat. A seaman put hand over side to rinse a cup                                                                                                        1
Bathing near whaling ship (bark A. R. Tucker of New Bedford, Massachusetts)                                                                                                          1
Explosion destroyed 28' boat, survivors in the water                                                                                                                                 1
Jumped overboard to rescue a man                                                                                                                                                     1
Name: Activity, Length: 1492, dtype: int64

In [21]:
data['Country'].value_counts()

USA                           2116
AUSTRALIA                     1279
SOUTH AFRICA                   565
PAPUA NEW GUINEA               133
NEW ZEALAND                    125
BRAZIL                         102
BAHAMAS                         98
MEXICO                          81
ITALY                           71
FIJI                            62
PHILIPPINES                     59
REUNION                         57
NEW CALEDONIA                   51
MOZAMBIQUE                      44
CUBA                            42
SPAIN                           40
INDIA                           37
EGYPT                           36
CROATIA                         34
PANAMA                          32
JAPAN                           32
SOLOMON ISLANDS                 29
IRAN                            29
GREECE                          25
HONG KONG                       24
JAMAICA                         23
FRENCH POLYNESIA                22
INDONESIA                       20
ENGLAND                         19
PACIFIC OCEAN                   17
                              ...
PARAGUAY                         1
GUATEMALA                        1
FALKLAND ISLANDS                 1
NORTHERN MARIANA ISLANDS         1
JAVA                             1
ITALY / CROATIA                  1
NEVIS                            1
ARUBA                            1
GHANA                            1
COOK ISLANDS                     1
DIEGO GARCIA                     1
MALDIVE ISLANDS                  1
ICELAND                          1
MONACO                           1
ST. MAARTIN                      1
BAHREIN                          1
ADMIRALTY ISLANDS                1
SOUTH CHINA SEA                  1
PALESTINIAN TERRITORIES          1
SYRIA                            1
NETHERLANDS ANTILLES             1
IRELAND                          1
NORTH SEA                        1
Coast of AFRICA                  1
GULF OF ADEN                     1
PUERTO RICO                      1
ALGERIA                          1
ANDAMAN / NICOBAR ISLANDAS       1
OCEAN                            1
CEYLON (SRI LANKA)               1
Name: Country, Length: 203, dtype: int64

In [25]:
data['Species '].value_counts()

White shark                                                                                        161
Shark involvement not confirmed                                                                     80
Tiger shark                                                                                         68
Bull shark                                                                                          52
6' shark                                                                                            40
4' shark                                                                                            39
1.8 m [6'] shark                                                                                    35
1.5 m [5'] shark                                                                                    32
1.2 m [4'] shark                                                                                    27
3' shark                                                                                            25
5' shark                                                                                            25
4' to 5' shark                                                                                      23
2 m shark                                                                                           22
3 m [10'] shark                                                                                     22
No shark involvement                                                                                21
Wobbegong shark                                                                                     20
3' to 4' shark                                                                                      18
3 m shark                                                                                           16
2.4 m [8'] shark                                                                                    16
3.7 m [12'] shark                                                                                   15
Blue shark                                                                                          14
Mako shark                                                                                          14
7' shark                                                                                            14
Blacktip shark                                                                                      14
12' shark                                                                                           14
1.2 m to 1.5 m [4' to 5'] shark                                                                     14
"a small shark"                                                                                     13
10' shark                                                                                           13
5 m [16.5'] white shark                                                                             13
1.5 m shark                                                                                         13
                                                                                                  ...
250-lb "dog shark"                                                                                   1
A 10-year-old 94-pound pregnant blacktip reef shark                                                  1
Said to be Â“leopard sharksÂ”, more probably tiger sharks                                              1
Tiger shark, 3 m to 4 m [10' to 13']                                                                 1
White shark, 4.4 m [14.5'] .                                                                         1
4.5 m to 5.5m white shark                                                                            1
Hammerhead shark, 1.8 m [6']                                                                         1
Wobbegong shark, 4'                                                                                  1
White shark, 4 m                                                                                     1
2.4 m [8'] shark, possibly a dusky shark                                                             1
1.5 m [5'] white shark or sevengill shark                                                            1
Mako shark, 3.7 m [12'] identified by tooth fragments by G.P. Whitley                                1
"a black-tipped shark"                                                                               1
Nurse shark, 2'                                                                                      1
Bronze whaler shark, 3 m [10'], 200-lb                                                               1
1.2 m [4'] "grey-colored shark"                                                                      1
1.6 m shark                                                                                          1
 Lemon shark, 3.5 m                                                                                  1
White shark, > 3 m [10']                                                                             1
Tiger shark, 13'                                                                                     1
Possibly a tiger shark                                                                               1
Possibly a 6' lemon shark                                                                            1
Grey reef shark, 2 m                                                                                 1
Raggedtooth shark, 1.5 m                                                                             1
Hammerhead shark, 1.8 m [6'] S. zygena identified by C. Limbaugh on description                      1
Wobbegong shark, 3'                                                                                  1
Dooley believed his Injury was caused by stingray (Dasyatidae family)                                1
0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand                                  1
White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board       1
60 cm [23.6"] blind or brown shark                                                                   1
Name: Species , Length: 1538, dtype: int64

In [33]:

data.shape

(5992, 22)

## Dropping Nan Values

In [34]:
data = data.dropna()

In [36]:
data.shape
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,...,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.b,2016.08.29.b,5980
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,N,11h30,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,5973
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20-Burck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.20,2016.07.20,5965

In [37]:
data['Case Number'] = data['Case Number'].str.strip()

Unprovoked      1252
Provoked         101
Invalid           53
Boat               6
Sea Disaster       5
Name: Type, dtype: int64

In [45]:
data['Fatal (Y/N)'].value_counts()

N     1176
Y      239
 N       2
Name: Fatal (Y/N), dtype: int64

In [46]:
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace(' N', 'N')

In [47]:
data['Fatal (Y/N)'].value_counts()

N    1178
Y     239
Name: Fatal (Y/N), dtype: int64

In [58]:
unprovoked_data = data[(data['Type']=='Unprovoked')& 
                (data['Fatal (Y/N)']=='Y')]

In [59]:
unprovoked_data['Fatal (Y/N)'].value_counts()

Y    222
Name: Fatal (Y/N), dtype: int64

In [60]:
unprovoked_data['Country'].value_counts()

AUSTRALIA           85
SOUTH AFRICA        43
USA                 32
REUNION              7
NEW CALEDONIA        4
PAPUA NEW GUINEA     4
MEXICO               4
NEW ZEALAND          4
JAPAN                3
ITALY                3
FIJI                 2
PANAMA               2
AMERICAN SAMOA       2
CROATIA              2
GREECE               2
BRAZIL               2
EGYPT                2
HONG KONG            2
NEW BRITAIN          2
JAMAICA              2
VANUATU              2
MOZAMBIQUE           2
TONGA                1
OKINAWA              1
INDONESIA            1
SOUTH KOREA          1
INDIA                1
BAHAMAS              1
IRAQ                 1
SEYCHELLES           1
SOLOMON ISLANDS      1
Name: Country, dtype: int64

In [61]:
unprovoked_data['Species '].value_counts()

White shark                                                                                     30
Bull shark                                                                                      10
Tiger shark                                                                                     10
3 m [10'] shark                                                                                  6
6 m [20'] white shark                                                                            5
3.7 m [12'] shark                                                                                4
Thought to involve a white shark                                                                 3
12' shark                                                                                        3
4 m [13'] white shark                                                                            2
Tiger shark?                                                                                     2
5 m [16.5'] white shark                                                                          2
Zambesi shark                                                                                    2
A pack of 6 sharks                                                                               2
White shark, 3 m                                                                                 2
Possibly a bronze whaler shark                                                                   1
 Tiger shark, 2.8m                                                                               1
Unknown                                                                                          1
4.5 m to 5.5 m [15' to 18'] white shark                                                          1
4.5 m white shark                                                                                1
1.8 m to 2.7 m [6' to 9'] shark                                                                  1
6 m [20'] shark                                                                                  1
Reported to involve a White shark, 6 m to 7m [20' to 23']                                        1
White shark, 5m                                                                                  1
Tiger shark, >3 m [10']                                                                          1
White shark, 3.6 m [11'9"]                                                                       1
White shark, 4.3 m [14'], (tooth fragment recovered)                                             1
Thought to involve a 5.5 m white shark named Kong                                                1
White shark, 2.3 m [7.5'], tooth fragment recovered                                              1
White shark, 4m                                                                                  1
White shark, 4 m to 5m                                                                           1
                                                                                                ..
Tiger shark, 3m                                                                                  1
Bronze whaler shark,3.7 m [12']                                                                  1
White shark 4.9 m [16']                                                                          1
Tiger shark, 4 m [13']  ?                                                                        1
3 m [10'] shark seen in vicinity                                                                 1
White shark,4.6 m [15']                                                                          1
White shark, 14' to 18'                                                                          1
1.8 m [6'] bull shark                                                                            1
A large white shark was filmed by divers on a local wreck 2 days prior to the incident.          1
3.5 to 4 m shark                                                                                 1
White shark x 2                                                                                  1
3.7 m [12'] shark & may have been another shark nearby                                           1
2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard     1
White shark, >6'                                                                                 1
2.4 m [8'] shark                                                                                 1
White shark (identified by Dr. Hugh Smith)                                                       1
5 m [16.5'] white shark, identification by K. Nakaya                                             1
3.3 m [10'9"] shark                                                                              1
4.5 m to 5 m white shark                                                                         1
4.5 m & 5 m white shark                                                                          1
Hand found in gut of 2.9 m to 3.3 m [9'7" to 10'11"] Galapagos shark, C. galapagensis            1
1.8 m [6'] shark                                                                                 1
White shark, 4 to 5 m                                                                            1
White shark, 10'                                                                                 1
Said to be 6.4 m [21'] shark                                                                     1
A bull shark, according to some of the divers on the boat                                        1
White shark, species identity confirmed by tooth pattern                                         1
White shark, 2.4 m [8']                                                                          1
White shark, 4.3 m [14'] (or bronze whaler)                                                      1
Said to involve 6 to 7 m [20' to 23'] white shark                                                1
Name: Species , Length: 153, dtype: int64