In [1]:
import pandas as pd
import pandas_profiling
import numpy as np
import seaborn as sns

In [2]:
#ACQUIRE
def acquire():
    data = pd.read_csv('../source/2019-04-metropolitan-street.csv',encoding = "latin1")
    return data

In [3]:
dfCrimes = acquire()
dfCrimes.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,c85e275201ddef144a14221d896e996fc50bb81453082a...,2019-04,Metropolitan Police Service,Metropolitan Police Service,-1.256562,53.127231,On or near Penn Street,E01027978,Ashfield 004D,Violence and sexual offences,Under investigation,NaN
1,73e345f607f6adbd9fb1da407d155183a73a553dcde1aa...,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.757016,52.026169,On or near Guy Cook Close,E01029890,Babergh 008E,Violence and sexual offences,Under investigation,NaN
2,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.140035,51.589112,On or near Beansland Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
3,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
4,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN

In [4]:
#It shows the dataframe, showing the total nums of nulls and no-nulls, number of rows, 
def describe(df):
    print("[Total rows, Total Columns]: ",df.shape)
    totalrows = df.shape
    totalrows = totalrows[0]
    print("\nTotalrows: ", totalrows)

    description = df.count() #what is not null and have value
    print("\nDescription of the table with no nulls values\n",description)

    columns_nulls = df.isnull().sum()

    print("\nDescription of the table with nulls values:\n",columns_nulls)

    columnsNames = df.columns
    print(columnsNames)

    df.head()

    return {'totalrows' : totalrows, 'columns_name' : columnsNames}

littleDescription = describe(dfCrimes)

[Total rows, Total Columns]:  (91858, 12)

Totalrows:  91858

Description of the table with no nulls values
 Crime ID                 72425
Month                    91858
Reported by              91858
Falls within             91858
Longitude                90369
Latitude                 90369
Location                 91858
LSOA code                90369
LSOA name                90369
Crime type               91858
Last outcome category    72425
Context                      0
dtype: int64

Description of the table with nulls values:
 Crime ID                 19433
Month                        0
Reported by                  0
Falls within                 0
Longitude                 1489
Latitude                  1489
Location                     0
LSOA code                 1489
LSOA name                 1489
Crime type                   0
Last outcome category    19433
Context                  91858
dtype: int64
Index(['Crime ID', 'Month', 'Reported by', 'Falls within', 'Longitude',
       'Latitude', 'Location', 'LSOA code', 'LSOA name', 'Crime type',
       'Last outcome category', 'Context'],
      dtype='object')

In [5]:
#WRANGLING

#Drop columns if the number of nulls rise over a given %
def dropColumns(df, percent, description):
    #return lambda df, percent, description: df for column in df[description['columns_name']] if (df[column].isnull().sum() * 100 / description['totalrows'] >= percent)

    for column in df[description['columns_name']]:
        #print("Column:", column,"percent of nulls",df[column].isnull().sum()/description['totalrows'])
        result = df[column].isnull().sum() * 100 / description['totalrows']
        print("Column:", column,"result:",result)
        if result >= percent:
            del df[column]
    #df.head(5)
    return df

dfCrimes = dropColumns(dfCrimes, 90, littleDescription)
dfCrimes.head()

Column: Crime ID result: 21.155479109059634
Column: Month result: 0.0
Column: Reported by result: 0.0
Column: Falls within result: 0.0
Column: Longitude result: 1.6209802085828127
Column: Latitude result: 1.6209802085828127
Column: Location result: 0.0
Column: LSOA code result: 1.6209802085828127
Column: LSOA name result: 1.6209802085828127
Column: Crime type result: 0.0
Column: Last outcome category result: 21.155479109059634
Column: Context result: 100.0

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category
0,c85e275201ddef144a14221d896e996fc50bb81453082a...,2019-04,Metropolitan Police Service,Metropolitan Police Service,-1.256562,53.127231,On or near Penn Street,E01027978,Ashfield 004D,Violence and sexual offences,Under investigation
1,73e345f607f6adbd9fb1da407d155183a73a553dcde1aa...,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.757016,52.026169,On or near Guy Cook Close,E01029890,Babergh 008E,Violence and sexual offences,Under investigation
2,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.140035,51.589112,On or near Beansland Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN
3,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN
4,NaN,2019-04,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN

In [6]:
#WRANGLING2
#As there is only the column 'Context' droped by "dropColumns" function, I need to eliminate not useful columns by hand
def dropany(df, columnlist):
    #df.drop(columns=['Crime ID','Unnamed: 23'])
    df.drop(columns = columnlist, inplace=True)
    return df
    
dfCrimes = dropany(dfCrimes, ['Crime ID', 'Reported by', 'Falls within', 'Longitude', 'Latitude', 'Last outcome category'])
dfCrimes.head()

,Month,Location,LSOA code,LSOA name,Crime type
0,2019-04,On or near Penn Street,E01027978,Ashfield 004D,Violence and sexual offences
1,2019-04,On or near Guy Cook Close,E01029890,Babergh 008E,Violence and sexual offences
2,2019-04,On or near Beansland Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour
3,2019-04,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour
4,2019-04,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour

In [12]:
#WRANGLING3
#Splits a columb by a separator and keep or not the parts. Erase is 0 keeps all, 1 keeps first element, 2 keeps second
def paterntocero(df, column, patern):
    df[column] = df[column].str.replace(patern,"")
    return df


patern = (r"(\s\d{3}\w{1})")

dfCrimes = paterntocero(dfCrimes, 'LSOA name', patern)
dfCrimes.head()

,Month,Location,LSOA code,LSOA name,Crime type
0,2019-04,On or near Penn Street,E01027978,Ashfield,Violence and sexual offences
1,2019-04,On or near Guy Cook Close,E01029890,Babergh,Violence and sexual offences
2,2019-04,On or near Beansland Grove,E01000027,Barking and Dagenham,Anti-social behaviour
3,2019-04,On or near Mead Grove,E01000027,Barking and Dagenham,Anti-social behaviour
4,2019-04,On or near Mead Grove,E01000027,Barking and Dagenham,Anti-social behaviour

In [ ]:




def analyze(df):
    grouped = filtered.groupby('Make').agg({'Combined MPG':'mean'}).reset_index()
    results = grouped.sort_values('Combined MPG', ascending=False).head(10)
    return results

def visualize(df):
    fig, ax = plt.subplots(figsize=(15,8))
    barchart = sns.barplot(data=results, x='Make', y='Combined MPG')
    plt.title(title + "\n", fontsize=16)
    return barchart

def save_viz(barchart):
    fig = barchart.get_figure()
    fig.savefig(title + '.png')